#insider-points
  -#.span-7
  -#  #points
  -#    %span.tally
  -#      = number_with_delimiter(@user.reward_points)
  -#    %span.description
  -#.span-8.last
  -#  %h3
  -#    Insider Points
  -#%dl
  -#  %dt Submit your idea
  -#  %dd 250 pts
  -#%dl
  -#  %dt Stage 1
  -#  %dd 250 pts
  -#%dl
  -#  %dt Stage 2
  -#  %dd 500 pts
  -#%dl
  -#  %dt Stage 3
  -#  %dd 750 pts
  -#%dl
  -#  %dt Stage 4
  -#  %dd 1,000 pts
  -#%dl
  -#  %dt Stage 5
  -#  %dd 2,000 pts
  -#%dl
  -#  %dt Stage 6
  -#  %dd 3,000 pts
  -#%dl
  -#  %dt Stage 7
  -#  %dd 5,000 pts
  -#%dl
  -#  %dt Stage 8
  -#  %dd 50,000 pts
.clear