- content_for :page_title, 'New Issue'

%h1 New Issue

- form_for @issue, :url => admin_issues_path, :html => { :multipart => true } do |f|
  = render :partial => "fields", :locals => { :f => f }
  %div= f.submit 'Create Issue'