- content_for :page_title, 'Create a New Page'

%h1 New Page

- form_for @page, :url => admin_pages_path do |f|

  = render :partial => 'fields', :locals => {:f => f}
  
  %div
    = f.submit 'Add Page'
