- content_for :title, "#{h @idea.title} &mdash; " + t('ideas.edit_idea')

- content_for :sidebar do
  = checklist(@idea, :submission => @submission, :lps => @lps)

= render :partial => 'live_product_searches/banner', :locals => {:live_product_search => @lps} if @lps

- form_for @idea do |f|
  
  = render :partial => 'info_form', :locals => {:f => f}