


- content_for :sidebar do
  = render :partial => 'shared/dashboard/profile_actions'
  = render :partial => 'shared/dashboard/lounge_insider_points'
  = render :partial => 'shared/dashboard/shop'
  = render :partial => 'shared/dashboard/inventors_digest'

%h1 Office Hours

