- content_for :title, t('users.forgot_password.title')

- form_for @user, :url => forgot_password_path, :html => {:method => :post} do |f|
  %fieldset
    .required
      = f.label :email, t('users.forgot_password.account_email_address')
      = f.text_field :email
      %span
        = t('users.forgot_password.text')
  
    %div
      = f.submit t('users.forgot_password.request_reset')