
<div id='hulu-video-box'>
  <div id="huluPlayer" playerMode="fixed-open"></div>
</div>

<div id='hulu-video-panel'>

<div id="huluPanel" panelpartner="EverydayEdisons" panelLayout="horizontal" panelItems="4" panelShow="everyday-edisons" panelVideotype="full" panelAllowMature="false" panelAutoPlay="false" panelsortdefault="recentlyAdded" panelBackgroundColor="#FFFFFF" panelBorderColor="#CCCCCC" panelElementBackgroundColor="#DDDDDD" panelElementBackgroundHoverColor="#666666" panelElementBorderColor="#CCCCCC" panelElementColor="#444444" panelElementHoverColor="#99CC33" panelRolloverBackgroundColor="#F9F9F9" panelTextColor="#444444" panelSearchEnabled="true" panelSortEnabled="true" panelScaleX="0.99" panelScaleY="0.99"></div><script id="HULU_VP_JS" src="http://player.hulu.com/videopanel/js/huluVideoPanel.js?partner=EverydayEdisons" type="text/javascript"></script>

</div>

