- form_for Invitation.new, :url => invitations_path, :id => 'invite-friends' do |f|
  .required{:style => 'padding:0'}
    = f.text_field :sent_to, :value => 'Email Address', :class => 'prefilled'
    = f.submit t('shared.invitation.invite'), :class => 'green button small'