!!! Strict
%html{ html_attrs("en_us") }
  %head
    %style
      :sass
        body
          font: 12px "Trebuchet MS", Verdana, Arial, sans-serif
          line-height: 1.4em
          color: #424242
  %body
    = @html