- content_for :head,  stylesheet_link_tag('pages/sponsor.css')
- content_for :head, render(:partial => 'shared/video_player_js')

- content_for :title, "Connecting the ingenuity of innovators with the needs of today's retailers"

%table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :width => "100%" }
  %tr
    %td{ :valign => "top", :align => "center" }
      %table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :width => "940" }
        %tr
          %td{ :valign => "top", :align => "left", :width => "394" }
            %strong
              Powering Change Through Innovation
            %p
              In today's economy, only the strong survive. To remain competitive, American businesses have moved jobs overseas and turned to
              outsourcing as the primary strategy for keeping up with international industry leaders.
            %p
              Looking ahead, labor and production costs will continue to rise. The only thing that will keep major retailers and manufacturers at the
              forefront of our global economy is
              %strong
                innovation
              \.
            %p
              Innovation is all around us, yet difficult to attain. Edison Nation proves what history has taught us: innovation is not found primarily
              within the domain of large corporations, scientists and universities; it lives in the hearts and minds of ordinary people who are able to
              see solutions in places others have overlooked.
            %img{ :src => "images/sponsor/quote1.gif", :height => "74", :width => "394" }
            %br
            %br
            %strong
              A New Model for Innovation
            %p
              Edison Nation takes an unprecedented approach to product development.  Where traditional consumer products companies work solely within
              their means, Edison Nation utilizes "crowdsourcing." Relationships with innovators, retailers, manufacturers and non-profit innovation
              partners help position Edison Nation as the nation's only consumer innovation company working outside company walls.
            %br
            %img{ :src => "images/sponsor/graph.gif", :height => "187", :width => "394" }
            %br
            %br
            %img{ :src => "images/sponsor/quote2.gif", :height => "90", :width => "391" }
          %td{ :valign => "top", :align => "left", :width => "60" }
            \&nbsp;
          %td{ :valign => "top", :align => "left", :width => "486" }
            %script{ :type => "text/javascript" }
              AC_FL_RunContent('codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0','width','486','height','330','src','http://s3.amazonaws.com/en_static/misc/sponsor','quality','high','pluginspage','http://www.macromedia.com/go/getflashplayer','movie','http://s3.amazonaws.com/en_static/misc/sponsor' ); //end AC code
            %noscript
              %object{ :height => "330", :classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :codebase => "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0", :width => "486" }
                %param{ :name => "movie", :value => "http://s3.amazonaws.com/en_static/misc/sponsor.swf" }
                %param{ :name => "quality", :value => "high" }
                %embed{ :src => "http://s3.amazonaws.com/en_static/misc/sponsor.swf", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :type => "application/x-shockwave-flash", :height => "330", :quality => "high", :width => "486" }
            %br
            %img{ :src => "images/sponsor/contact.gif", :border => "0", :height => "37", :usemap => "#Map2", :width => "343" }
            %br
            %br
            %strong
              What Edison Nation Offers
            %p
              Edison Nation offers retailers and manufacturers access to an unlimited pool of ideas not restricted by corporate structure and
              %em
                inside-the-box
              thinking — where
              %em
                ordinary
              people with
              %em
                extraordinary
              product ideas can make a
              difference.
            %strong
              Edison Nation speaks the language of innovation to inventors and the language of business to retailers and manufacturers.  Both sides of
              innovation can seamlessly collaborate and provide consumers what they demand based on their own needs - not assumptions made within the
              walls of corporations.
            %p
              Each retailer and manufacturer can work with an Edison Nation Product Category Manager to define their needs. Edison Nation broadcasts
              these requirements via a Live Product Search on EdisonNation.com and owns the legal options on all product submissions.
            %p
              Edison Nation deploys its team of product development experts to identify all submissions that match the specific search criteria and
              then develops a comprehensive package of options that match the company's needs. That's it. No negotiating with individual inventors.
              Edison Nation leverages the collective genius of American ingenuity on your company's behalf and everybody wins: the inventor, the
              retailer or manufacturer, and the consumer.
            %strong
              Edison Nation:
            The collective voice of innovation.
            %br
            %br
      %table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :width => "940" }
        %tr
          %td{ :valign => "top", :align => "left" }
            %br
            %strong
              About Edison Nation
              %br
              Edison Nation: The collective voice of innovation
            %p
              Edison Nation champions the ingenuity of the individual innovator and the needs of global retailers and manufacturers by enabling them
              to connect within a collaborative, seamless and hassle-free platform.
            %p
              Edison Nation is credentialed by in-house development capabilities and a proven reputation within the independent inventor community.
              
            %p
              Edison Nation boasts the sole ownership of PBS' Emmy award-winning television series,
              %em
                %strong
                  Everyday Edisons&reg;
              ;
              produces the world's only magazine for independent inventors,
              %em
                %strong
                  Inventors Digest
              ; and retains relationships with
              the nation's largest specialty retailers and manufacturers.
            %p
              Edison Nation is the trusted source for independent innovation. Acting as a virtual magnet for independent inventors' intellectual
              property, it serves as a conduit to filter and funnel a continuous stream of innovative new products to global retailers and
              manufacturers — without the traditional hassles.
            %img{ :src => "images/sponsor/bottom.gif", :border => "0", :height => "76", :usemap => "#Map", :width => "940" }
%map#Map{ :name => "Map" }
  %area{ :href => "http://www.everydayedisons.com", :shape => "rect", :coords => "596,5,722,71", :target => "_blank" }
  %area{ :href => "http://www.inventorsdigest.com", :shape => "rect", :coords => "745,14,937,71", :target => "_blank" }
%map#Map2{ :name => "Map2" }
  %area{ :href => "mailto:productsearch@edisonnation.com", :shape => "rect", :coords => "0,22,227,36" }
