%h3
  Austin Lin
%p.first
  Lampbuddy&#174; table
%p
  Austin Lin grew up in Louisiana obsessed with hurricanes, fighting fire ants and proving adults wrong. He made his way to Harvard with the original intent to cure cancer and instead, graduated with a degree in psychology, a love for food and a hankering to figure things out. 
%p
  Every fall, students and parents flock to Bed Bath & Beyond stores with their dorm room checklist of products to make a "home away from home" within a room the size of a broom closet. Bed Bath's "Students of Invention" Live Product Search called on our members for decorative, space-saving and organizational solutions to the obstacles of dorm room living, and Austin was up for the challenge.
%p
  In a small apartment in Cambridge, Austin couldn't find a place to rest his coffee mug in a room big enough for only the sofa and torchiere lights. Austin resolved the issue by creating a removable table to attach to the torchiere lamp pole, providing a tabletop without the need for a space-hogging end table or the expense of a built-in table and lamp. Austin's Lampbuddy table began as a rough prototype made out of a yoga block, and was one of four ideas selected by the Bed Bath team to further develop and sell in stores across the country. Today Austin - a hot power yogi, Philz coffee enthusiast and master shallot roaster - can add problem-solving inventor to his varied and dynamic list of experiences.

%ul.media
  %li
    = link_to image_tag('successes/austin-lin/thumbnails/thumb-austin-lin.jpg'), image_path('successes/austin-lin/austin-lin.jpg'), :rel => 'austin-lin'
  %li
    = link_to image_tag('successes/austin-lin/thumbnails/thumb-austin-lin-yoga.jpg'), image_path('successes/austin-lin/austin-lin-yoga.jpg'), :rel => 'austin-lin'
  %li
    = link_to image_tag('successes/austin-lin/thumbnails/thumb-lampbuddy.jpg'), image_path('successes/austin-lin/lampbuddy.jpg'), :rel => 'austin-lin'