%h3
  Brad & Melinda Shepard
%p.first
  Gyro Bowl
%p
  Parents are natural problem solvers. Children are inherently messy. When Brad and Melinda's son couldn't seem to keep his Cheerios from spilling onto the minivan floor or collecting dust in the far reaches of the living room couch, they took matters into their own hands. The two young parents came to our 
  %em 
    Everyday Edisons 
  casting call toting the working prototype for a snack bowl that could swivel, dip and oscillate to withstand the quick movements of a busy toddler...and keep dry foods in place when they're on the move.
%p
  With a galactic design that appeals to both parents and their children, the spill-resistant Gyro Bowl is an internationally recognized (and sought after) children's product with major press appeal. What began as a product on a public television series in 2007 is now an infomercial bestseller.
%ul.media
  %li
    = link_to image_tag('successes/gyro-bowl/thumbnails/thumb-gyro-bowl.jpg'), image_path('successes/gyro-bowl/gyro-bowl.jpg'), :rel => 'brad_and_melinda_shepard'
  %li
    = link_to image_tag('successes/gyro-bowl/thumbnails/thumb-kid-in-car-gyrobowl.jpg'), image_path('successes/gyro-bowl/kid-in-car-gyrobowl.jpg'), :rel => 'brad_and_melinda_shepard'
  %li
    = link_to image_tag('successes/gyro-bowl/thumbnails/thumb-kid-with-gyrobowl.jpg'), image_path('successes/gyro-bowl/kid-with-gyrobowl.jpg'), :rel => 'brad_and_melinda_shepard'
