%h3 
  Carlos Beltran
%p.first
  Burger Baker
%p 
  With a genetic disposition for high cholesterol, and a penchant for delicious burgers, Carlos knew he had to get creative for his health and his taste buds. When Lifetime Brands hosted their Live Product Search for kitchenware innovations, Carlos was certain his idea would fit the bill.
%p 
  Carlos' "Burger Baker" tray molds any kind of meat into the perfect all-American burger size, and gives users the freedom to conjure up creative recipes that may be difficult to master on the outdoor grill. With the Burger Baker, cooks can stuff and bake their burgers without worrying they'll fall apart on the grill. With built-in grooves, the tray also removes excess fat as it bakes, helping to cook up a healthier burger.
%p 
  Grilling outdoors is out of the question for half the year in Colorado, so Carlos never did spend the money on an expensive barbecue pit. Instead, he experimented with his delicious Burger Baker tray, and soon cooks and grill-masters will have him to thank.
%ul.media
  %li