%h3 
  David Belmonte
%p.first
  Kitchen Bag Storage Filler
%p 
  One-handed cartwheels. "Look, Mom, no hands!" One-handed juggling. Hands-free wireless. People learn special talents throughout this game of life, while others wish for super powers to just make it all easier. David Belmonte wasn't born with a pair of eyes in the back of his head, but while maintaining a busy household as a modern-day Mr. Mom, he did concoct a second pair of hands with his "Kitchen Bag Storage Filler."
%p 
  Ever tried filling up a Ziploc® bag with meat sauce, soup or flour, on your own? Get ready for a disaster zone. David's freestanding Kitchen Bag Storage Filler eliminates the traditional bag-filling hassles one may encounter, especially if they are attempting to do this task on their own.
%p 
  A freelance graphic designer, photographer and stay-at-home dad to his six year old, David is accustomed to problem solving and multitasking to ensure his busy home functions day to day. He's also the resident chef, so finding an innovative method to cleanly stow away leftovers in zipper bags was a kitchen essential, and one Lifetime Brands can appreciate.
%ul.media
  %li
    = link_to image_tag('successes/david-belmonte/thumbnails/bag-fill.jpg'), image_path('successes/david-belmonte/bag-fill.jpg'), :rel => 'david_belmonte'
  %li
    = link_to image_tag('successes/david-belmonte/thumbnails/ziplock.jpg'), image_path('successes/david-belmonte/ziplock.jpg'), :rel => 'david_belmonte'