%h3 
  Franklin Ramsey
%p.first
  Pressix technology
%p 
  If you've bought a stainless steel, foot pedal trashcan, chances are it includes Franklin's Pressix technology. His idea for a trashcan that holds the trash bag securely in place makes so much sense it actually makes you stop and say: Why didn't I come up with that?

%p
  We were introduced to Franklin on the first season of 
  %em
    Everyday Edisons 
  in 2007. Whenever Franklin tried to empty wastebaskets when helping his wife, Ann, with her new commercial janitorial business, he could never seem to secure new trash bags properly. Franklin's knotted bags were all either too loose, too tight or tore in the end. Out of frustration, Franklin headed to his garage workshop where he devised a system for keeping trashcan liners in their proper place, without ever having to tie, knot or tear a single bag.
  
%p
  Today, when you are shopping at Williams Sonoma, The Container Store, Walmart or Bed Bath & Beyond, take a peak inside one of the high-end trashcans on display; not too shabby for an inventor in his golden years.

%ul.media
  %li
    = link_to image_tag('successes/pressix/thumbnails/thumb-can-pressix.jpg'), image_path('successes/pressix/can-pressix.jpg'), :rel => 'franklin_ramsey'
  %li
    = link_to image_tag('successes/pressix/thumbnails/thumb-pressix-logo.jpg'), image_path('successes/pressix/pressix-logo.jpg'), :rel => 'franklin_ramsey'
  %li
    = link_to image_tag('successes/pressix/thumbnails/thumb-can-pressix-2.jpg'), image_path('successes/pressix/can-pressix-2.jpg'), :rel => 'franklin_ramsey'
.clear
%br/