%h3 
  Herb Hart
%p.first
  Total Wrench
%p
  A World War II pilot, retired art teacher, father and grandfather, Herb Hart is not just a seasoned problem solver. He may actually be the picture in your imagination of a tinkerer, getting his hands dirty in his workshop. With his first big idea coming to market at the ripe age of 88, Herb has no plans of slowing down just yet.
%p
  His "dual wrench" is just one of the dozen tools Herb has built in his garage - and it's also the product idea that landed him on Season 3 of 
  %em
    Everyday Edisons.
  His multifunctional and multiuse tool will be making its debut on the shelves of The Home Depot in Summer 2010.
%ul.media
  %li
    = link_to image_tag('successes/herb-hart/thumbnails/thumb-herb-hart-wrench.jpg'), image_path('successes/herb-hart/herb-hart-wrench.jpg'), :rel => 'herb_hart'
  %li
    = link_to image_tag('successes/herb-hart/thumbnails/thumb-total-wrench.jpg'), image_path('successes/herb-hart/total-wrench.jpg'), :rel => 'herb_hart'
  %li
    = link_to image_tag('successes/herb-hart/thumbnails/thumb-total-wrench-on-shelves.jpg'), image_path('successes/herb-hart/total-wrench-on-shelves.jpg'), :rel => 'herb_hart'