%h3 
  Holly Tucker 
%p.first
  Shoe Skirt
%p 
  Shoes are cultural icons in their own right, and many women (and even some men) just can't get enough. For shoe junkies that have maxed out their closet space and find themselves in need of organizational help, Holly Tucker's Shoe Skirt discreetly stows your favorite pairs. 
%p
  After misplacing yet another shoe in her out-of-control closet, Holly went looking for uncharted organizational space in her bedroom. She soon discovered the area beneath the bed frame, conveniently hidden under her decorative bed skirt. Holly fashioned together a fabric organizer with 30 clear pockets where shoes could be stored out of sight, yet easily retrieved when needed. Her Shoe Skirt invention is an ideal hideaway not just for shoes, but even children's toys, books and other items typically scattered throughout the bedroom.
%p
  In 2008, Holly pitched her working prototype to the Edison Nation team at a Season Three casting call, thus initiating Shoe Skirt’s journey to market. It was Holly's out of the (shoe) box thinking that also caught the attention of WestPoint Home, an industry leader in home fashions manufacturing. Holly’s Shoe Skirt will be available soon in Bed Bath and Beyond stores across the country. 
%ul.media
  %li
    = link_to image_tag('successes/holly-tucker/thumbnails/thumb-holly-tucker.jpg'), image_path('successes/holly-tucker/holly-tucker.jpg'), :rel => 'holly_tucker'
  %li
    = link_to image_tag('successes/holly-tucker/thumbnails/thumb-shoe-skirt.jpg'), image_path('successes/holly-tucker/shoe-skirt.jpg'), :rel => 'holly_tucker'
  %li
    = link_to image_tag('successes/holly-tucker/thumbnails/thumb-shoe-skirt-logo.jpg'), image_path('successes/holly-tucker/shoe-skirt-logo.jpg'), :rel => 'holly_tucker'
