%h3 
  John and Bill Murtagh
%p.first
  Kobalt Mortar Hoe
%p
  The late John Murtagh had the ambition and determination to conceptualize, design and patent an efficient mortar-mixing tool. Every inch of the mixing head is designed with one thing in mind: getting the most out of every mixing stroke.
%p
  "My greatest wish is to take my father into a store and have him see his invention on a store shelf," says Bill Murtagh, John's son and engineer. "It's all I ever wanted." Unfortunately, John lost his battle with cancer in 2004. His surviving wife and children took over efforts to bring the then-dubbed "Murtagh Mixing Hoe" to market, and earned a spot on the first season of
  %em
    Everyday Edisons
  in 2007.
%p
  It's been an arduous journey for the Murtagh family, but one that ends with a sight John Murtagh would be proud to see. In 2009, after years of tenacious pitching, the Edison Nation team signed the dotted line of a licensing deal with a major tool manufacturer. In summer 2010, John Murtagh's homegrown innovation will be unveiled in national Lowe's Home Improvement stores under the Kobalt® brand of next generation tools.
%ul.media
  %li
    = link_to image_tag('successes/john-murtagh/thumbnails/thumb-john-murtagh.jpg'), image_path('successes/john-murtagh/john-murtagh.jpg'), :rel => 'john_murtagh'
  %li{:style => 'display:none'}
    = link_to image_tag('successes/john-murtagh/thumbnails/thumb-bill-murtagh.jpg'), image_path('successes/john-murtagh/bill-murtagh.jpg'), :rel => 'john_murtagh'
  %li
    = link_to image_tag('successes/john-murtagh/thumbnails/thumb-kobalt-mixer.jpg'), image_path('successes/john-murtagh/kobalt-mixer.jpg'), :rel => 'john_murtagh'
  %li
    = link_to image_tag('successes/john-murtagh/thumbnails/thumb-logo-kobalt.png'), image_path('successes/john-murtagh/logo-kobalt.png'), :rel => 'john_murtagh'