%h3 
  Michael Diep
%p.first
  Emery Cat
%p
  As most cat owners can attest, trimming their felines' claws is a problem many encounter. Not only can it be painful for the cat, but it's also difficult for the owner to wrangle their felines for regular vet visits or to witness their furniture as they become scratching posts. There's a good reason the phrase "like herding cats" is part of our everyday vernacular.

%p
  Michael's Emery Cat unfolded on the second season of 
  %em
    Everyday Edisons, 
  where viewers were able to watch along with this San Diego-based consultant as his original homemade prototype evolved into a multi-functional pet product.

%p
  The Emery Cat is now a stylish board that functions as a dual cat toy and claw duller, utilizing a patented abrasive coating that naturally files down cats' claws as they play, stretch or scratch. The Emery Cat's cardboard, honeycomb-like surface is infused with catnip to attract cats, and its base features non-skid durable footpads to make it a well-functioning product for both the cat and the owner.
  
%p
  Today, the Emery Cat is an infomercial sensation, and has been featured on 
  %em
    NPR's Marketplace Morning Report 
  and in 
  %em
    USA Today, Cat Fancy 
  magazine and more. The Emery Cat can be found on national store shelves in Walgreens, Target, PetSmart, Walmart and many more.  
%ul.media
  %li
    = link_to image_tag('successes/michael-diep/thumbnails/thumb-michael-diep-prototype.jpg'), image_path('successes/michael-diep/michael-diep-prototype.jpg'), :rel => 'michael_diep'
  %li
    = link_to image_tag('successes/michael-diep/thumbnails/thumb-emerycat-logo.jpg'), image_path('successes/michael-diep/emerycat-logo.jpg'), :rel => 'michael_diep'
  %li
    = link_to image_tag('successes/michael-diep/thumbnails/thumb-emerycat-pkg.jpg'), image_path('successes/michael-diep/emerycat-pkg.jpg'), :rel => 'michael_diep'
