%h3 
  Phil Avery 
%p.first
  Foldable Baking Pans
%p 
  When you first meet Phil Avery, you likely wouldn't mix in baking with his favorite pastimes of paragliding, designing and inventing. Though he may not be your traditional bakeware innovator, Phil has graciously accepted this role.
%p
  While in his kitchen, annoyed by the clutter of so many pots, pans and cookware, Phil hit on the idea for his foldable baking pans, predicting they would be an essential for busy bakers and crowded kitchens across the country. Featured on
  %em
    Everyday Edisons, 
  the pans can fold in size, enabling them to be easily stored in kitchen cabinets and drawers without taking as much room as traditional baking pans. The set also features silicone bonding, which readily releases baked goods and allows for easy clean up.
%p
  Phil's idea is sure to stand out in a sea of similar commercial housewares and kitchen products. His foldable baking pans will be introduced to the market by World Kitchen and available on the QVC network.
%ul.media
  %li
    = link_to image_tag('successes/phil-avery/thumbnails/phil-avery.jpg'), image_path('successes/phil-avery/phil-avery.jpg'), :rel => 'phil_avery'
  %li
    = link_to image_tag('successes/phil-avery/thumbnails/foldable-baking.jpg'), image_path('successes/phil-avery/foldable-baking.jpg'), :rel => 'phil_avery'
  %li
    = link_to image_tag('successes/phil-avery/thumbnails/foldable-open.jpg'), image_path('successes/phil-avery/foldable-open.jpg'), :rel => 'phil_avery'
