%h3 
  Stan Black
%p.first
  Night Beams
%p 
  Stan Black is no stranger to the entrepreneurial mindset. Whether he’s toying in finance or bringing the first Krispy Kreme Express to Richmond, Va., Stan has an appetite for new ventures. 
%p
  A father of three and a Season 3 "Everyday Edison," Stan conceived his Night Beams to add a new dimension to the traditional nightlights that help children find their way to sleep. His Night Beams transform a standard nightlight into a visual projection that illustrates artistic images of heroes or iconic characters onto bare bedroom walls. 

%p
  Stan’s Night Beams will come to light in children’s bedrooms with Jasco, an exclusive General Electric licensee featuring industry-leading home electric products, and will be available in stores across the country. 

%ul.media
  %li
    = link_to image_tag('successes/stan-black/thumbnails/stan-1.jpg'), image_path('successes/stan-black/stan-1.jpg'), :rel => 'stan_black'
  %li
    = link_to image_tag('successes/stan-black/thumbnails/stan-2.jpg'), image_path('successes/stan-black/stan-2.jpg'), :rel => 'stan_black'
  %li
    = link_to image_tag('successes/stan-black/thumbnails/jasco_side_view.jpg'), image_path('successes/stan-black/jasco_side_view.jpg'), :rel => 'stan_black'
