%h3 
  Verne Thompson
%p.first
  Burger Stuffer
%p 
  The hamburger has come a long way from just a quarter pound of meat and two sides of a sesame seed bun. It's even gone beyond adding a melted slice of American cheese and a few strips of bacon. In restaurants and quick-service chains across the country, diners order their burgers with fried eggs, avocado, eggplant, salsa or even pineapple. If you ask Verne Thompson, he'll go as far as to say he likes his burger with macaroni and cheese… and not just as a side item.
%p
  Verne created his "Burger Stuffer" to easily hollow out the hamburger patty. The Burger Stuffer is a ring-like apparatus that keeps the burger perfectly round and even, but gives you more room to stuff, press and prepare your patty for the grill.
%p 
  Lifetime Brands quickly saw the potential in Verne's Burger Stuffer to create a whole new twist on the traditional hamburger.
%ul.media
  %li
    = link_to image_tag('successes/verne-thompson/thumbnails/thumb-burgers.jpg'), image_path('successes/verne-thompson/burgers.jpg'), :rel => 'verne_thompson'
  %li
    = link_to image_tag('successes/verne-thompson/thumbnails/thumb-verne-thompson.jpg'), image_path('successes/verne-thompson/verne-thompson.jpg'), :rel => 'verne_thompson'
  %li
    = link_to image_tag('successes/verne-thompson/thumbnails/thumb-stuffed-burger.jpg'), image_path('successes/verne-thompson/stuffed-burger.jpg'), :rel => 'verne_thompson'
