%h3 
  Will Howe & Ric Payne
%p.first
  Mister Steamy
%p 
  Nightlife scenesters Will Howe and Ric Payne know how to style and profile wherever they go. Combined, their background includes acting, restaurant and bar owning, even a gig hosting the Playboy TV channel. Such lifestyles leave little room for mundane household tasks like doing laundry.
%p
  We first met Will and Ric during Season 3 of
  %em Everyday Edisons.
  Their idea and enthusiasm caught the eyes of our development team. Today, the Mister Steamy dryer ball is a solution to those low on time or just lacking the will to fold and put away clothes right as the dryer buzzes.
%p 
  Mister Steamy can be seen on its own national infomercial and will soon be available at retailers everywhere.
%ul.media
  %li
    = link_to image_tag('successes/mister-steamy/thumbnails/thumb-will-ric.jpg'), image_path('successes/mister-steamy/will-ric.jpg'), :rel => 'will_howe_and_ric_payne'
  %li
    = link_to image_tag('successes/mister-steamy/thumbnails/thumb-mistersteamy-logo.jpg'), image_path('successes/mister-steamy/mistersteamy-logo.jpg'), :rel => 'will_howe_and_ric_payne'
  %li
    = link_to image_tag('successes/mister-steamy/thumbnails/thumb-steamy-rendering.jpg'), image_path('successes/mister-steamy/steamy-rendering.jpg'), :rel => 'will_howe_and_ric_payne'
