- content_for :page_title, t('blog_entries.edit.title')

- content_for :title do
  = button_to t('blog_entries.edit.delete'), user_blog_entry_path(@user, @blog_entry), :method => :delete, :class => 'delete-blog-entry-button' if current_user == @user
  = yield :page_title
  
- content_for :sidebar, render(:partial => 'users/profile_sidebar', :locals => {:user => @user})
  
- form_for @blog_entry, :url => user_blog_entry_path(@user, @blog_entry) do |f|
  = render :partial => 'fields', :locals => { :f => f }
  %div
    = f.submit