.span-16
  = image_tag('vintage-light-bulb.jpg', :style => 'float:left;width:160px;')
  %p{ :style => 'padding: 30px 0pt 0pt 130pt;font-size:14px;'} 
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. 
    Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. 
    Morbi blandit mollis magna. Suspendisse eu tortor.
    Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. 
    Morbi blandit mollis magna. Suspendisse eu tortor.
.clear
%br/
%br/