%h3.section-title Edison Insider Open Search FAQ

%h5 How much does it cost to submit?
%p The cost to submit to the Open Search is $20. Each entry will be reviewed by a team of Edison Nation product development and intellectual property experts. Your submission fee helps defray a portion of the actual cost of reviewing each submission.

%h5 Why are opt-ins not allowed for this search?
%p This is an opportunity for you to submit ideas that haven’t been a fit in any other search.  You can update and submit any idea that you'd like, but we really want new and fresh ideas that haven’t been a fit anywhere else.  Be creative!

%h5 I'm not an Edison Insider, can I still submit to the Open Search?
%p 
  No, only Edison Insiders can submit to the Open Search. 
  = link_to 'Click here for more information about Edison Insider membership.', lounge_path
  
%h5  What happens if I make it to G-7 in the Open Search?
%p After you receive a G-7, the Edison Nation team will identify the ideal prospective partners for your idea, whether they are companies we have previously worked with or not.

%h5 I’m a finalist; how long will it take to hear anything?
%p The Edison Nation Licensing Team may take up to six months to find a home for your product after it becomes a finalist.

%h5 How often do you host Open Searches?
%p Open Searches are held twice a year, in June and December. 