.span-17{:style => 'padding:10px'}
  .pod
    .span-7
      %p
        = image_tag 'features/open-search.png'
    .span-9
      %h3
        Open Searches
      %p
        The Open Search - held twice a year in June and December - gives Insiders the opportunity to submit ideas from any product category. 
      %p
        It works just like our sponsor-specific Live Product Searches, except we’ll work with any consumer goods retailer or manufacturer in any mass-appeal category.
      = link_to 'Learn more about becoming an Insider', lounge_path, :class => 'red button bigrounded'