<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="shortcut icon" href="http://www.edisonnation.com/favicon.ico" type="image/x-icon" />
    <title>Edison Nation - Is Being Updated!</title>
  </head>

  <body style="color: #FFF; background-color:#434343; font-family: verdana, arial, sans-serif; font-size: 11px;">

    <table style="margin-left:auto;margin-right:auto;margin-top:100px;height:300px;">
      <tr>
        <td align="center">
          <img src="http://en-resources.s3.amazonaws.com/misc/logo_basic.gif" alt="Edison Nation" border="0" />
        </td>
      </tr>
    </table>
  </body>

</html>