.pod.alt
  %h5 = t('shared.dashboard.social.follow_en')
  %ul.social-media
    %li= link_to 'Twitter', 'http://twitter.com/edisonnation', :class => 'action twitter', :target => '_blank'
    %li= link_to 'Facebook', 'http://facebook.com/EdisonNation', :class => 'action facebook', :target => '_blank'


